.home img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-right: 40px;
}
.home .user{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.home .userinfo .name{
    font-size: 32px;
    margin-bottom: 10px;
}
.home .login-info p{
    line-height: 28px;
    font-style: 14px;
    color:#999999;
}
.home .login-info p span{
    color:#666666;
    margin-left: 60px;
}


